.candidate {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.dna-sequence{
  color: grey;
  font-size: 0.5em;
  overflow-wrap: anywhere;
}
.aa-sequence{
  color: black;
  overflow-wrap: anywhere;
}
